<div class="container mt-4">

  <!-- Add Program -->
  <div class="card shadow-sm mb-4 border-0">
    <div class="card-body">
      <h5 class="fw-bold mb-3">Add Internship Program</h5>

      <form [formGroup]="programForm" (ngSubmit)="submit()">

        <div class="mb-3">
          <label class="form-label">Program Name</label>
          <input class="form-control" formControlName="programName" />
        </div>

        <div class="mb-3">
  <label class="form-label">Course</label>
  <select class="form-select" formControlName="courseId">
    <option value="">Select Course</option>
    <option *ngFor="let c of courses" [value]="c.id">
      {{ c.courseName }}
    </option>
  </select>
</div>


        <div class="mb-3">
          <label class="form-label">Duration</label>
          <input class="form-control" placeholder="e.g. 6 Months" formControlName="duration" />
        </div>

        <div class="mb-3">
          <label class="form-label">Assign Staff</label>
          <select class="form-select" formControlName="staffId">
            <option value="">Select Staff</option>
            <option *ngFor="let s of staffList" [value]="s.id">
              {{ s.name }}
            </option>
          </select>
        </div>

        <button class="btn btn-primary w-100" type="submit">
          Add Program
        </button>

      </form>
    </div>
  </div>

  <!-- Program List -->
  <div class="card shadow-sm border-0">
    <div class="card-body">
      <h5 class="fw-bold mb-3">Internship Programs</h5>

      <table class="table table-hover">
        <thead class="table-light">
          <tr>
            <th>Program</th>
            <th>Course</th>
            <th>Duration</th>
            <th>Assigned Staff</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of programs">
            <td>{{ p.programName }}</td>
            <td>{{ p.courseName }}</td>
            <td>{{ p.duration }}</td>
            <td>{{ p.assignedStaffName }}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
