<div class="container mt-4">

  <h3 class="mb-3">Staff List</h3>

  @if (staffList$ | async; as staffList) {

    @if (staffList.length > 0) {

      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
        </thead>

        <tbody>
          @for (staff of staffList; track staff.id) {
            <tr>
              <td>{{ $index + 1 }}</td>
              <td>{{ staff.name }}</td>
              <td>{{ staff.email }}</td>
              <td>{{ staff.role }}</td>
            </tr>
          }
        </tbody>
      </table>
  
  }
  }


