
<div class="course-container card p-4 shadow">
  <h2 class="title">Course Details</h2>

  <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label class="form-label">Course ID</label>
      <input
        type="text"
        class="form-control"
        formControlName="id"
        [class.is-invalid]="courseForm.controls['id'].invalid && courseForm.controls['id'].touched"
      />

      @if (courseForm.get('id')?.touched && courseForm.get('id')?.invalid) {
        <small>Course ID is required</small>
      }
    </div>

    <div class="form-group">
      <label class="form-label">Course Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="name"
        [class.is-invalid]="courseForm.controls['name'].invalid && courseForm.controls['name'].touched"
      />

      @if (courseForm.get('name')?.touched && courseForm.get('name')?.invalid) {
        <small>Course name is required</small>
      }
    </div>

    <div class="form-group">
      <label class="form-label">Department</label>
      <input
        type="text"
        class="form-control"
        formControlName="department"
        [class.is-invalid]="courseForm.controls['department'].invalid && courseForm.controls['department'].touched"
      />
    </div>

    <div class="form-group">
      <label class="form-label">Duration</label>
      <input
        type="text"
        class="form-control"
        formControlName="duration"
        [class.is-invalid]="courseForm.controls['duration'].invalid && courseForm.controls['duration'].touched"
      />
    </div>

    <div class="form-group">
      <label class="form-label">Fees</label>
      <input
        type="number"
        class="form-control"
        formControlName="fees"
        [class.is-invalid]="courseForm.controls['fees'].invalid && courseForm.controls['fees'].touched"
      />
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="courseForm.invalid">
      Save Course
    </button>

  </form>
</div>
