<div class="course-container">
  <h2 class="title">Course Details</h2>

  <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>Course ID</label>
      <input type="text" formControlName="id" />

      @if (courseForm.get('id')?.touched && courseForm.get('id')?.invalid) {
        <small>Course ID is required</small>
      }
    </div>

    <div class="form-group">
      <label>Course Name</label>
      <input type="text" formControlName="name" />

      @if (courseForm.get('name')?.touched && courseForm.get('name')?.invalid) {
        <small>Course name is required</small>
      }
    </div>

    <div class="form-group">
      <label>Department</label>
      <input type="text" formControlName="department" />
    </div>

    <div class="form-group">
      <label>Duration</label>
      <input type="text" formControlName="duration" />
    </div>

    <div class="form-group">
      <label>Fees</label>
      <input type="number" formControlName="fees" />
    </div>

    <button type="submit" [disabled]="courseForm.invalid">
      Save Course
    </button>

  </form>
</div>
