.course-container {
  max-width: 600px;
  margin: 40px auto;
}

.title {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
}

.form-group {
  margin-bottom: 15px;
}

input.ng-touched.ng-invalid {
  border-color: #dc3545;
}

small {
  color: #dc3545;
  font-size: 0.85rem;
}

button {
  width: 100%;
}
